body {
    width: auto;
    max-width: 800px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    background-color: rgba(144, 47, 189, 0.4);
}
a {
    text-decoration: none;
    color: rgb(31, 29, 156);
}
a:hover {
    font-weight: bolder;
}